{% extends "base.html" %}

{% block head %}
    {% include "shop/include/top_nav.html" %}
{% endblock head %}


{% block footer %}
    {% include "shop/include/footer.html" %}
{% endblock footer %}

{% block script %}
    <script>
        $(document).ready(function(){
            $('.add_to_cart').on('click', function(e){
                e.preventDefault();
                var product_slug = $(this).attr('data-slug');
                console.log(product_slug);

                data = {
                    product_slug: product_slug,
                }

                $.ajax({
                    type: 'GET',
                    url: '{% url "shop:add_to_cart" %}',
                    data: data,
                    success: function(data){
                        $('#cart_count').html(data.cart_total)
                    }
                })

            })

            $('.remove_from_cart').on('click', function(e){
                e.preventDefault();
                var id = $(this).attr('data-id');
                var obj = $(this)
                data = {
                    id: id
                }
                $.ajax({
                    url: '{% url "shop:remove_from_cart" %}',
                    data: data,
                    type: 'GET',
                    success: function(data){
                        $('#cart_count').html(data.cart_total)
                        obj.parent().parent().parent().parent().remove()
                    }
                })

            })

            $('.cart_item_qty').on('click', function(){
                var id = $(this).attr('data-id');
                var val = $(this).val();
                var obj = $(this)
                data = {
                    value: val,
                    id: id
                }
                console.log(data)
                
                $.ajax({
                    url: '{% url "shop:change_qty" %}',
                    data: data,
                    type: 'GET',
                    success: function(data){
                        $('#cart-item-id-'+data.cart_id).html(data.item_total)
                    }
                })
            })
        })
    </script>
{% endblock script %}