{% extends "shop/base_shop.html" %}

{% block content %}
<!-- Page Content -->
<div class="container">
    <br>
    <div class="row">
        <div class='col'>
            {% for cart_item in cart.items.all %}
            <div class="card mb-2">
                <div class="card-body ">
                    <div class="row">
                        <div class='col'>{{cart_item.product.title}}</div>
                        <div class='col'>{{cart_item.qty}}</div>
                        <div class='col'>{{cart_item.item_total}}</div>
                        <div class='col'><a href='{% url "shop:remove_from_cart" id=cart_item.id %}' class="btn btn-light">Remove</a></div>
                    </div> 
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <!-- /.row -->
    <br>
</div>
<!-- /.container -->
{% endblock content %}