{% extends "shop/base_shop.html" %}

{% block content %}
<!-- Page Content -->
<div class="container">
    <br>
    <div class="row">
        <div class='col'>
        <h1>Ваш предварительный заказ</h1>
        {% if cart.items.count != 0 %}
            {% for cart_item in cart.items.all %}
            <div class="card mb-2 bg-success text-white">
                <div class="card-body ">
                    <div class="row">
                        <div class='col'>{{cart_item.product.title}}</div>
                        <div class='col'><center>{{cart_item.qty}}</center></div>
                        <div class='col' id='cart-item-id-{{cart_item.id}}'>{{cart_item.item_total}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="card mb-2">
                <div class="card-body ">
                    <div class="row">
                        <div class='col cart_total_price'>{{total_price}}</div>
                        <div class='col cart_total_price'><a href='{% url "shop:order" %}' class='btn btn-success'>to order</a></div>
                    </div> 
                </div>
            </div>
        {% else %}
            <div class="card mb-2">
                <div class="card-body ">
                    <div class="row">
                        <div class='col cart_total_price'><center>Товаров нет</center></div>
                    </div> 
                </div>
            </div>
        {% endif %}
            
        </div>
    </div>
    <!-- /.row -->
    <br>
</div>
<!-- /.container -->
{% endblock content %}