{% extends "shop/base_shop.html" %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

        <h1 class="my-4">Shop Name</h1>
            {% include "shop/include/sidebar_nav.html" %}
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
        <br>
        <div class="row">
            {% for product_item in product %}
                <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="{{product_item.image.url}}" alt=""></a>
                    <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'shop:detail_product' slug=product_item.slug %}">{{product_item}}</a>
                    </h4>
                    <h5>{{product_item.price}}</h5>
                    <p class="card-text">{{product_item.description|truncatewords:15}}</p>
                    {% if request.user.is_authenticated %}
                        <a href='' class='btn btn-primary add_to_cart' data-slug='{{product_item.slug}}'>Add to cart</a>
                    {% else %}
                        <p>Войдите или зарегистрируйтесь</p>
                    {% endif %}
                    
                    </div>
                    <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
                </div>
            {% endfor %}

        </div>
        <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock content %}